{% extends 'base.html' %}

{% block content %}

{% block clue %}

{% if message %}
    <div>
        {{message}}
    </div>
{% endif %}

<div>
    <p>{{clue.clue_text}}</p>
</div>
{% endblock %}

{% block form %}
<div>
<form method="post" action="{% url 'xword-drill' clue.pk %}">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Submit">
</form>
</div>
{% endblock %}

{% block escape_hatch %}
<div>
    <p>
        {% url 'xword-answer' clue.pk as escape_url %}
        Or skip to the <a href="{{escape_url}}">escape hatch</a>.
    </p>
</div>
{% endblock %}
{% endblock %}